body {
  margin: 0; 
  height: 100vh; 
  background-image: url('https://pw.artfile.me/wallpaper/28-01-2013/650x417/warhammer-40k-video-igry-srazhenie-699791.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  
  
   
}


      
.center{
  color: white;
   margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center; 
      align-items: center;     
      color: white;
      font-family:Arial Narrow';

}
.fix:hover{
  scale:1.1;
  background-color:azure;
  color: gray;
  }
  
